.ctr-channels {
    background-color:white;
    width:100%;
    min-height:100vh;
}

.ctr-channels .ctr-banner {
    background-color:lightgray;
    min-height:500px;
    background-size:100% 500px;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow:2px 2px 20px rgba(0, 0, 0, 0.1);
}   

.ctr-channels .profile-channel {
    background-color:rgba(0, 0, 0, 0.03);
    min-height:200px;
    padding:10px 30px;

    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:center;
    gap:5px;
}

.ctr-channels .profile-channel .logo-box {
    background-color:none;
    padding:5px;
    margin-top:-125px;

    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:center;
    gap:0px;
}

.ctr-channels .profile-channel .logo-box .channel-logo {
    height:250px;
    border:8px solid white;
    box-shadow:2px 2px 20px rgba(0, 0, 0, 0.2);
}

.ctr-channels .profile-channel .logo-box .title {
    font-size:24px;
    font-weight:300;
}

.ctr-channels .profile-channel .logo-box .category-box {
    background-color:none;
    width:100%;
    padding:2px 5px;

    display:flex;
    justify-content:center;
    align-items:flex-start;
}

.ctr-channels .profile-channel .logo-box .category-box .category {
    background-color:dodgerblue;
    color:white;
    padding:2px 10px;
    border-radius:50px;
    font-size:12px;
}

.ctr-channels .profile-channel .info-box {
    background-color:none;
    min-height:100px;
    max-width:500px;
    padding:5px 10px;

    display:flex;
    justify-content:center;
    align-items:flex-start;
    gap:5px;
}

.ctr-channels .profile-channel .info-box .description {
    font-size:16px;
    font-weight:300;
    text-align:center;
}

.ctr-channels .profile-channel .info-box .description .show-description {
    color: dodgerblue;
    cursor: pointer;
    text-decoration: underline;
}